body {
   font-family: Arial, sans-serif;
   text-align: center;
   background-color: #008000;
   color: #fff;
}

h1, h2 {
   margin: 20px 0;
}

button {
   padding: 10px 20px;
   font-size: 16px;
   margin-top: 10px;
   cursor: pointer;
   background-color: #f0ad4e;
   border: none;
   border-radius: 5px;
   color: #fff;
}

button:hover {
   background-color: #ec971f;
}

input[type="number"],
input[type="text"] {
   padding: 10px;
   font-size: 16px;
   margin: 10px 0;
   border: 1px solid #ccc;
   border-radius: 5px;
   width: 50%;
}

#game-table {
   margin-top: 20px;
}

.player-info, #dealer-info {
   display: inline-block;
   margin: 0 15px;
   text-align: left;
}

.card-container {
   display: inline-block;
   width: 71px;
   height: 96px;
   background-size: contain;
   background-repeat: no-repeat;
   margin: 5px;
}

#game-log {
   margin-top: 20px;
   font-size: 18px;
}

.player-controls button {
   margin: 5px;
}
