body {
   font-family: Arial, sans-serif;
}

#landing-page, #intro-page, #betting-page, #game-page {
   text-align: center;
}

.player-info, .player-bet {
   margin-bottom: 20px;
}

.card {
   box-sizing: border-box;
   display: inline-block;
   margin: 5px;
   cursor: pointer;
   width: 60px;
   height: 90px;
   background-color: #fff;
   border-radius: 0.2em;
   border: 1px solid #c3c3c3;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
}

.card.back {
   background-color: #000;
}
